body {
  margin: 0;
  padding: 0;
  min-width: 990px; /* rmal */
}

#video-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

video {
  height: 300px;
  width: 400px;
  object-fit: cover;
  padding: 8px;
}

.main {
  height: 100vh;
  display: flex;
}

.main__left {
  flex: 0.8;
  display: flex;
  flex-direction: column;
}

.main__videos {
  flex-grow: 1;
  background-image: linear-gradient(#39395e, #6768ab); /* rmal */
  background-color: #35363a; /* #35363A #d2d2d2 #6768ab black*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__controls {
  display: flex;
  /* background-color: #1c1e20; */
  /* background-color: #39395e; */
  background-color: #6768ab;
  /* color: #d2d2d2; */
  color: #f2f2ff;
  padding: 12px;
  justify-content: space-between;
  /* border-top: 1px solid white; */
}

.main__controls__block {
  display: flex;
}

.main__controls__button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 8px 10px;
  min-width: 100px;
  cursor: pointer;

  transition: 150ms background-color ease-in;
}

.main__controls__button:hover {
  /* background-color: #343434; */
  background-color: #393953;
  border-radius: 4px;
}

.main__controls__button i {
  font-size: 24px;
}

.leave__classroom {
  /* color: #a70f07; */
  /* color: #ff0000; */
  /* color: #39395e; */
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 110px;
}

.main__right {
  flex: 0.2;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(#39395e, #6768ab); /* rmal */
  /* background-color: #242324; */
  /* background-color: #f2f2ff; */
  background-color: #39395e;
  /* border-left: 1px solid #3d3d42; */
  border-left: 1px solid white;
}

.main__header {
  color: #f5f5f5;
  text-align: center;
  padding: 0.5rem; /* // rmal */
}

.main__chat__window {
  flex-grow: 1;
  overflow-y: auto;

  /* word-wrap: break-word; // rmal */
}

.main__message__container {
  padding: 31px 22px;
  display: flex;
  /* border-top: 1px solid white; */
}

.main__message__container input {
  flex-grow: 1;
  background-color: transparent;
  border: none;
  color: #f5f5f5;

  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: none; /* // rmal */
}

.messages {
  color: white;
  list-style: none;
}

.unmute,
.stop {
  /* color: #cc3b33; */
  /* color: #ff0000; */
  /* color: #39395e; */
  color: #f2898e;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: white;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: white;
}
